.sfondo-header {
    background-image: url(../img/pattern.png);
    background-color: rgb(11, 149, 223);
    height: 150px;
}

.logo {
    height: 50px;
    margin-top: 80px;
    margin-left: 15px;
}

.titolo {
    font-size: 40px;
}

.intestazione-colonna {
    color: rgb(255, 255, 255);
    background-color: rgb(11, 149, 223);
}

.sfondo-azzurro {
    background-color: rgb(0, 255, 255);
}



.foto-schermo {
    background-image: url(../img/monitor.jpg);
    color: rgb(255, 255, 255);
    height: 200px;
    background-repeat: no-repeat;
    font-size: 22px;
}

.foto-grafici {
    background-image: url(../img/graph.jpg);
    color: rgb(255, 255, 255);
    height: 200px;
    background-repeat: no-repeat;
    font-size: 22px;
}



.testo-piccolo {
    font-size: 12px;
}

.testo-grigio {
    color: rgb(128, 128, 128);
    font-size: 20px;
}

.testo-grigio-picc {
    color: rgb(128, 128, 128);
    font-size: 15px;
}

.testo-azzurro {
    color: rgb(0, 255, 255);
    font-size: 20px;
}